language: python
python:
  - "2.7"

install:
  - pip install mkdocs

script:
  - mkdocs build

after_script:
  - cp CNAME site/CNAME
  - cd site
  - git init
  - git config user.name "Travis-CI"
  - git config user.email "agenricwon@gmail.com"
  - git add .
  - git commit -m "Update docs"
  - git push "https://${GITHUB_TOKEN}@${GITHUB_REF}" master:master

env:
 global:
   - GITHUB_REF: github.com/Agenric/MkDocsSite.git
